/* Colors:
#FBDD86 Yellow
#35A673 Green Light
#308D63 Green Dark
#205F43 Green Darker
#05386B Deep blue
*/

body {
  font-family: "Asap", sans-serif;
  height: 100vh;
  width: 100%;
}

p {
  font-size: 0.875rem;
  line-height: 1.9;
  font-weight: normal;
}

label {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 0.875rem;
	padding-bottom: 0.75rem;
	padding-top: 1.25rem;
}

li {
list-style-type: none;
margin:0rem;
}

.nav-link{
padding-left: 0.938rem;
padding-bottom: 1.563rem;
padding-top:1.563rem;
margin: 0rem;
}

input {
	display: block;
	height: 2.5rem;
	border: 0.0625rem solid #d6d6d6;
	border-radius: 0.25rem;
	margin-bottom: 1.25rem;
  width: 18.75rem;
  padding-left: 0.625rem;
}

input::placeholder {
  font-size: 0.875rem;
  color: #c9c9c9;
  
}

select {
	/* display: block; */
	height: 2.75rem;
	border: 0.0625rem solid #d6d6d6;
	border-radius: 0.25rem;
	/* margin-bottom: 1.25rem; */
  width: 8rem;
  padding-left: 0.625rem;
  
}



/* Main Page Styles */

.gb-login-container {
  display: flex;
  flex-direction: row;
}

.gb-branding-container {
  background-color: #35a673;
  height: 100vh;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.gb-branding-container h1 {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-transform: uppercase;
}

.gb-svg-container {
  border-right: 0.125rem solid white;
  margin-left: 1.25rem;
  height: 7.5rem;
  width: 7.5rem;
  padding-right: 1.25rem;
}

.gb-branding-container svg {
  /* padding-left: 20px; */
  padding-right: 1.25rem;
}

.gb-form-container {
  margin: 7.5rem 2.5rem 0rem 3.75rem;
  width: 50%;
  height: 100vh;
}

.gb-form-container h1 {
  color: #35a673;
  font-size: 2.1875rem;
  width: 23.75rem;
}
.gb-form-container p {
  width: 23.75rem;
  margin-bottom: 1.25rem;
}

.gb-login-cta {
  display: flex;
  margin-top: 2.5rem;
}

.gb-main-button {
  height: 2.5rem;
  border: none;
  border-radius: 0.125rem;
  background-color: #05386b;
  color: white;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 8.125rem;
  margin-right: 2.8125rem;
}

.gb-secondary-button {
  height: 2.5rem;
  border: 0.0625rem solid #105fb2;
  border-radius: 0.125rem;
  background-color: white;
  color: #105fb2;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 8.125rem;
}

/* Left Side */

.gb-formpage-container{
display: flex;
}

.gb-formpage-aside{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22%;
  background-color: #308D63;
  margin: 0rem;
}
.gb-formpage-logo-header h1{
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}
.gb-formpage-logo{
height: 4.688rem;
width: 4.688rem;
border-right: 0.063rem solid white;
padding-right: 0.313rem;
}

.gb-formpage-mast{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left:0.469rem;
  padding-right: 1.563rem;
  padding-top: 1.563rem;
} 

.gb-formpage-nav{
 text-transform: uppercase;
 padding-top: 3.75rem;
 color: white;
 font-family: 'Asap', sans-serif;
 font-size: 0.938rem;
}


/* Right Side */

.gb-formpage-right{
  display: grid;
  grid-template-columns: 1fr 
  grid-template-rows: 1fr 1fr 1fr;
  width: 78%;
    }


.gb-formpage-right-wrapper{
  display: grid;
  width: 43.75rem;
  height: 70vh;
	margin: 0rem;
  padding: 0rem;
  padding-top: 3.75rem;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4,7rem);
  grid-gap: 1.875rem;
  padding-left: 3.75rem;
}

.gb-formpage-right-header{
  padding-top: 0.875rem;
  border-bottom: 2px solid green;
}

.gb-formpage-right-header h1{
  padding-left: 3.75rem;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 2.938rem;
}
.gb-form-row1 {
	display: grid;
	margin: 0rem;
	padding: 0rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2,2.375rem);
	grid-column-gap: 0.625rem;
}

.gb-form-row3 {
	display: grid;
	margin: 0rem;
	padding: 0rem;
	grid-template-columns: 1fr 1fr;

}


.city-field {
	width: 9.125rem;
	margin: 0rem;
	
}

.city-state-group {
	display: grid;
	margin: 0rem;
	padding: 0rem;
	grid-template-columns: 1fr 1fr;
	/* justify-items: center; */
}

.gb-form-row2 {
	display: grid;
	margin: 0rem;
	padding: 0rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2.375rem 2.375rem;
	grid-column-gap: 0.625rem;
}

.gb-form-row4 {
	display: grid;
	margin: 0rem;
	padding: 0rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2.375rem 2.375rem;
	grid-column-gap: 0.625rem;
}

.gb-formpage-navbuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  padding-left: 3.75rem;
  padding-right:6.5rem;
  height: 30vh;
}

.gb-formpage-navbuttons-back {
width:7.313rem;
height: 2.25rem;
text-transform: uppercase;
color:white;
background-color: #0456B4;
border-radius: 0.25rem;
border: none;
}

.gb-formpage-navbuttons-next {
justify-self: end;
width:7.313rem;
height: 2.25rem;
text-transform: uppercase;
color:#0456B4;
background-color: white;;
border-radius: 0.25rem;
border: 0.063rem solid #0456B4;
}