/* Colors:
#FBDD86 Yellow
#35A673 Green Light
#308D63 Green Dark
#205F43 Green Darker
#05386B Deep blue
*/

body {
  font-family: "Asap", sans-serif;
  height: 100vh;
}

p {
  font-size: 0.875rem;
  line-height: 1.9;
  font-weight: normal;
}

label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  padding-bottom: 0.75rem;
  padding-top: 1.25rem;
}

input {
  height: 2.5rem;
  border: 0.0625rem solid #d6d6d6;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  width: 18.75rem;
}

input::placeholder {
  font-size: 0.875rem;
  color: #c9c9c9;
  padding: 0.625rem;
}
.gb-login-container {
  display: flex;
  flex-direction: row;
}

.gb-branding-container {
  background-color: #35a673;
  height: 100vh;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.gb-branding-container h1 {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-transform: uppercase;
}

.gb-svg-container {
  border-right: 0.125rem solid white;
  margin-left: 1.25rem;
  height: 7.5rem;
  width: 7.5rem;
  padding-right: 1.25rem;
}

.gb-branding-container svg {
  /* padding-left: 20px; */
  padding-right: 1.25rem;
}

footer {
  height: 20vh;
  width: 100%;
}
footer img {
  display: absolute;
  height: 9.375rem;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding-top: 12.5rem;
}

.gb-form-container {
  margin: 7.5rem 2.5rem 0rem 3.75rem;
  width: 50%;
  height: 100vh;
}

.gb-form-container h1 {
  color: #35a673;
  font-size: 2.1875rem;
  width: 23.75rem;
}
.gb-form-container p {
  width: 23.75rem;
  margin-bottom: 1.25rem;
}

/* .wf-form-container form{
display:flex;
flex-direction: column;
align-content: space-around;
} */

.gb-login-cta {
  display: flex;
  margin-top: 2.5rem;
}

.gb-main-button {
  height: 2.5rem;
  border: none;
  border-radius: 0.125rem;
  background-color: #05386b;
  color: white;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 8.125rem;
  margin-right: 2.8125rem;
}

.gb-secondary-button {
  height: 2.5rem;
  border: 0.0625rem solid #105fb2;
  border-radius: 0.125rem;
  background-color: white;
  color: #105fb2;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 8.125rem;
}
